section
{
display: flex;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    font-weight: 900;
    text-decoration-color: ivory;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    margin-right:5% ;
    
    
}
.hire{
background-position: center;
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    width: 100px;
    text-decoration-color: ivory;
    padding: 15px;
}
.top{
    background-image: url(portfolio/top.jpg);
    background-repeat: none;
}
.bottom{ background-image: url(portfolio/downbanner.png);
         background-repeat: none;

}
.box{
    background-color: ivory;
    padding-left:  5%; 
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}
.box1{
    box-shadow: darkgrey;
    border-left: 15px;
    border-style: solid;
    border-left-color: sandybrown;
}
.box2{
    box-shadow: darkgrey;
    border-left: 15px;
    border-style: solid;
    border-left-color:salmon;
}

.aboutme{
    text-align: center;
}
.href
{
    text-decoration: none;
    
}
.padding{
    padding-left: 15px;
}